
body{
    background-color: rgb(136, 136, 136);
}
/* ------------------------------------------------HEADER HORIZONTAL------------------------------------------------------ */
.header-top{
    
    width: 100%;
    margin:0;
    padding:0;
    background-color: rgba(0, 0, 0, 0.555);
    height: 100px;
    position:fixed;
    top:0;
    left:0;
}
.header-top img{
    position: fixed;;
    height: 170px;
    margin-left:45%;
   
}
/* ------------------------------------------------HEADER VERTICAL------------------------------------------------------ */
.header-sidebar{
    /* display: flex; */
    width: 100px;
    background-color: rgba(0, 0, 0, 0.555);
    height: 100%;
    position:fixed;
    top: 0;
    left: 0; 
}

.header-sidebar nav ul {
        
    
    margin:0; 
    padding: 0;
    list-style: none;
    text-decoration: none;
    position:absolute;
    top:30%;
    height: 400px;
    width: 100%;
    margin-left: 20%;

   
} 

.header-sidebar nav ul li{
    display: block;
    margin-bottom: 100px;
     
}

.header-sidebar nav ul li a{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.header-sidebar nav ul li a:hover {
    color:rgb(255, 136, 0);
    transition: .6s;
}
.header-sidebar nav .current{
    color: rgb(255, 136, 0);
}

/* ------------------------------------------------CONTENU PAGES------------------------------------------------------ */

.container{
    margin:0 ;
    padding-top: 200px;
    width: 80%;
    /* border: 1px solid rgb(0, 0, 0); */
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------CONTENU PAGE LOGIN------------------------------------------------------ */

.bloc-top img{
    position:relative;
    /* background-image: url(background-auth.jpg); */
    height: 1000px;
    width: 90%;
    margin-left: 7.5%;
  
}
.form-auth{
    text-align: center;
    padding-top: 300px;
    height: 700px;
    width: 60%;
    border: 1px solid blue;
    margin:0 auto;
    
}


/* ------------------------------------------------PAGE AJOUTJOUEUR------------------------------------------------------ */

.form-add-joueur{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50%;
    margin: auto;
    /* border: 1px solid red; */
}

.form-add-joueur input[type=text]{
    float: right;
}

.form-add-joueur input[type=file]{
    float: right;
}

.form-add-joueur input[type=date]{
    float: right;
}

.form-add-joueur select {
    float: right;
}

/* -----------Bar horizontal---------------- */
.header-top nav{
    margin-top:50px;
    margin-left: 5%;
}

.header-top nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.header-top nav ul li{
    display: inline-flex;
    margin-left: 16%;
}

.header-top nav ul li a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding :16px 0 5px;
    font-size: 16px;
    color: #fff;
}

.header-top nav ul li a:hover {
    color:rgb(255, 136, 0);
    transition: .6s;
}
.header-top nav .current{
    color: rgb(255, 136, 0);
}

/* ------------------------------------------------PAGE MATCH------------------------------------------------------ */

.match table{
    width: 100%;
}
.match {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.match th {
   background-color: rgba(0, 0, 0, 0.753);
   color: rgb(247, 130, 47); 
}
.caption{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    margin-bottom: 50px;
  
}
.match td.win {
    color: rgb(247, 147, 76);
    background-color:rgba(1, 116, 48, 0.822)
 }

 .match td.loose {
    color: rgb(247, 147, 76);
    background-color: rgba(192, 47, 47, 0.753); 
 }


.win td {
    color: rgb(247, 147, 76);
    background-color:rgba(1, 116, 48, 0.822)
 }

.match th, td{
    padding:5px;
    text-align: left;
}
.match table, th, td{    
    border: 1px solid black;
    border-collapse: collapse;
}
.suppr{
    background-color: rgb(255, 28, 28);
}

.inserer_joueur {

    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    text-align: center;
    font-size: 20px;

}

.select_joueur {

    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    text-align: center;

}

/* ------------------------------------------------PAGE DETAIL MATCH------------------------------------------------------ */

.selecteur h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(119, 68, 2);
}


/* ------------------------------------------------LES FORMULAIRES------------------------------------------------------ */

.form-add-match{
    margin: auto;   
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 500px;
    line-height: 55px;

}

.form-add-match input[type=text]{
  
   float: right;
    
}

.form-add-match input[type=date]{
  
    float: right;
     
 }

 .form-add-match input[type=time]{
  
    float: right;
     
 }

.form-add-match select[class="select_right"] {

    float: right;

}

.form-add-match select[class="titulaire"] {
  
    float: left;
     
 }

 .form-add-match select[class="remplacant"] {

    float: right;
    
}

.select_titu {
    float: left;
}

.select_remp {
    float: right;
}

.btn{
    font-size: 20px;

}

/* ------------------------------------------------LES BOUTONS ------------------------------------------------------ */

.modifier{
    background-color: orange;
    width: 80px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid;
}

.supprimer{
    background-color: red;
    width: 80px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid;
}

.ajouter{
    background-color:greenyellow;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid;
}

.annuler{
    background-color:red;
    float: left;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid;
    margin: 7% 0 auto 30%;;
}

.valider{
    background-color:greenyellow;
    float: right;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid;
    margin: 7% 30% auto auto;
}

/* ------------------------------------------------ IMAGES ------------------------------------------------------ */

td img {
    width:130px;
    height:200px;
}